
/*ESTRUTURA*/
*{
  font-family: Monospace, Arial, sans-serif
}
body{
  margin: auto;
}
header{
  padding: 20px;
  margin-top: 20px;
}
footer{
  height: 50px;
  text-align: center;
  padding: 10px 0 0 5px;
}
h1{
  text-align: center;
  padding: 50px 0 0 0;
  color: white;
}
p{
  width: 700px;
  text-align: justify;
  text-align-last: center;
  margin: auto;
  color: white;
}

/*ID's*/
#símbolo{
  float: left;
  width: 90px;
  padding: 0 0 40px 50px;
}
#menu{
  float: right
}
#menu a{
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 30px 30px 0px 30px;
  font-size: 17px;
}
#menu a:hover{
  color: white;
  background-color: black;
}
#fotoprincipal{
  width: 1349px;
  position: sticky;
}

/*CLASSES*/
.content{
  clear: both;
  background-image: url(https://s2.glbimg.com/G2SdEgmv80StKpqKXR5cN6IU62g=/smart/e.glbimg.com/og/ed/f/original/2020/03/09/viuva-negra-scarlett-johansson.jpg);
  background-size: 100%;
  min-height: 880px;
}
.efeito{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 130px 0 200px 0;
}